;This is a configuration file for SameGame Autoplay
;It contains settings for parsing, solving and (auto)playing a SameGame.

[general]
;name of this samegame implementation (optional)
name=cube_crash
;command used to set the initial mouse cursor position (optional)
set_cursor=.\player\bin\cube_crash_init_cursor.exe
;a link to the samegame implementation (optional)
resource=http://www.mindjolt.com/games/cube-crash

[game settings]
;number of columns of the game field
cols=13
;number of rows of the game field
rows=12
;width of a tile in pixels
tile_width=30
;height of a tile in pixels
tile_height=30
;number of least connected tiles to be "hittable"
area=3
;number of clicks needed to clear a group of tiles
clicks=1
;number of milliseconds the program should wait after an area has been removed
wait_after_click=500
;number of milliseconds the program should wait after the mouse curser has moved away from the game field
wait_after_move=1200

[color settings]
;color tolerance for each value of R-, G- and B-component
color_tolerance=15
;threshold value of RGB components for background color
background_threshold=40
;states if the background is 'darker' or 'brighter' than the tiles
background_compared=darker

[solver]
;type of algorithm used to search for a solution, one of: evolutionary, brute-force
type=brute-force